@media only screen and (max-width: 1024px){
    .mb-90 {
        margin-bottom: 1px !important;
    
}
@media only screen and (max-width: 992px){
    
    .mb-90 {
        margin-bottom: 1px !important;
        
        
    

}
@media only screen and (max-width: 900px){
    .mb-90 {
        margin-bottom: 1px !important;
}
.about-img {
    margin-top: 50px;
}
    

@media only screen and (max-width: 768px){
    section.team.section-padding {
        overflow: hidden;
    }       
    
}
    .header {
        min-height: auto;
        overflow: hidden;
        height: 470px;
    } 
    
    .slider .item,
    .slider-fade .item {
        position: absolute;
        top: 0px;
        left: 0;
        height: 100%;
        width: 100%;
        
        background-position: center;
    }
    header.header.slider-fade  .text-right.item.bg-img {
        background-size: contain;
        background-repeat: no-repeat;
    } 
    /* .about.section-padding2, .about.section-padding, {
        margin-top: -200px;
    }
    #why_us {
        margin-top: -500px;
    }
    .bauen-project.section-padding2 {
        margin-top: -400px;
    }
    .projects.section-padding2 {
        margin-top: -500px;
    }
    .bauen-project.section-padding2.asdf {
        margin-top: -200px;
    } */
    .bauen-project.section-padding2 {
        padding-left: 20px;
        padding-right: 20px;
     }
    header.header.slider-fade {
        margin-top: -70px;
    }
    h2.text-center {
        font-size: 60px;
    }
     .content_map_img.about {
        width: 300px;
    } 
    .about-img {
        margin-top: 20px;
    }
    .bauen-project-wrap h3 {
        font-size: 10px; 
    }
    .header.header.slider-fade {
        /* margin-top: 74px; */
        margin-bottom: 40px;
    }
   

@media only screen and (max-width: 600px){
    section{
        padding-left:20px;
        padding-right:20px;
    }
    .about-img {
        margin-top: 20px;
    }

@media only screen and (max-width: 480px){
    
    .mb-90 {
        margin-bottom: 1px !important;
}
@media only screen and (max-width: 320px){
    .mb-90 {
        margin-bottom: 1px !important;

}
